<body>

  <div class="container d-flex justify-content-center">
    <div class="card p-5 shadow-lg" style="max-width: 600px;">
      <h1 class="text-center mb-4 display-4 font-weight-bold text-primary">Stupid Coaching</h1>

      <div class="d-flex justify-content-center">
        <form action="/answer" data-turbo="false" class="w-100">
          <input type="text" name="question" placeholder="Your question?" class="form-control my-3 py-2">
          <input type="submit" value="Ask anything to your coach!" class="btn btn-primary w-100 my-2 py-2 font-weight-bold">
        </form>
      </div>

    </div>
  </div>

</body>
